.box{
    height: 100vh;
    background-color: #D7DBDD;

    .appbarchat{
        height: 125px;
        background-color: #0d1ed1;
    }

    .appbar{
        height: 270px;
        background-color: #0d1ed1;
    }
}
